@mixin _All($width: null,
    $height: null,
    $object_f: null,
    $object_p: null,
    $border: null,
    $border_r: null,
    $cursor: null,
    $f_size: null,
    $f_weight: null,
    $color: null,
    $l_height: null,
    $txt_align: null,
    $txt_dec: null,
    $txt_transform: null,
    $margin: null,
    $padding: null,
    $position: null,
    $display: null,
    $justify_cont: null,
    $align_items: null,
    $flex_direct: null,
    $gap: null,
    $border_right: null,
    $top: null,
    $left: null,
    $right: null,
    $bottom: null,
    $bcg_color: null,
    $letter_spacing: null,
    $opacity: null) {
    width: $width;
    height: $height;
    object-fit: $object_f;
    object-position: $object_p;
    border: $border;
    border-radius: $border_r;
    cursor: $cursor;
    font-size: $f_size;
    font-weight: $f_weight;
    color: $color;
    line-height: $l_height;
    text-align: $txt_align;
    text-decoration: $txt_dec;
    text-transform: $txt_transform;
    margin: $margin;
    padding: $padding;
    position: $position;
    display: $display;
    justify-content: $justify_cont;
    align-items: $align_items;
    flex-direction: $flex_direct;
    gap: $gap;
    border-right: $border_r;
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
    background-color: $bcg_color;
    letter-spacing: $letter_spacing;
    opacity: $opacity;
}

// General Extends

%img-contain {
    object-fit: contain;
    object-position: center;
    cursor: pointer;
}

%img-cover {
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

%d-flex {
    display: flex;
    align-items: center;
}

%d-flex-start {
    display: flex;
    justify-content: start;
    align-items: center;
}

%d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}